### Preparation of Combined Leagues THROWS csv for modelling' 
#### Clean, feature selection, add expanding means, save

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # stops the slice default='warn' appearing

%matplotlib inline

In [53]:
df1 = pd.read_csv(r"C:\Users\MikeD\Documents\Betting\Football-Data-Combined\FS_Leagues_Data_Combined.csv", index_col=0)

In [54]:
df1.head()

,homeID,awayID,season,game_week,homeGoalCount,awayGoalCount,totalGoalCount,team_a_corners,team_b_corners,totalCornerCount,team_a_offsides,team_b_offsides,team_a_yellow_cards,team_b_yellow_cards,team_a_red_cards,team_b_red_cards,team_a_shotsOnTarget,team_b_shotsOnTarget,team_a_shotsOffTarget,team_b_shotsOffTarget,team_a_shots,team_b_shots,team_a_fouls,team_b_fouls,team_a_possession,team_b_possession,refereeID,coach_a_ID,coach_b_ID,stadium_name,stadium_location,team_a_cards_num,team_b_cards_num,odds_ft_1,odds_ft_x,odds_ft_2,odds_ft_over25,odds_corners_over_85,odds_corners_1,odds_corners_x,odds_corners_2,odds_team_to_score_first_1,odds_team_to_score_first_x,odds_team_to_score_first_2,odds_win_to_nil_1,odds_win_to_nil_2,odds_1st_half_over05,odds_1st_half_over15,odds_1st_half_over25,odds_1st_half_over35,odds_1st_half_under05,odds_1st_half_under15,odds_1st_half_under25,odds_1st_half_under35,odds_2nd_half_over05,odds_2nd_half_over15,odds_2nd_half_over25,odds_2nd_half_over35,odds_2nd_half_under05,odds_2nd_half_under15,odds_2nd_half_under25,odds_2nd_half_under35,overallGoalCount,ht_goals_team_a,ht_goals_team_b,goals_2hg_team_a,goals_2hg_team_b,GoalCount_2hg,HTGoalCount,date_unix,attendance,corner_timings_recorded,card_timings_recorded,team_a_fh_corners,team_b_fh_corners,team_a_2h_corners,team_b_2h_corners,corner_fh_count,corner_2h_count,team_a_fh_cards,team_b_fh_cards,team_a_2h_cards,team_b_2h_cards,total_fh_cards,total_2h_cards,attacks_recorded,team_a_dangerous_attacks,team_b_dangerous_attacks,team_a_attacks,team_b_attacks,team_a_xg,team_b_xg,total_xg,team_a_penalties_won,team_b_penalties_won,team_a_penalty_goals,team_b_penalty_goals,team_a_penalty_missed,team_b_penalty_missed,pens_recorded,goal_timings_recorded,team_a_0_10_min_goals,team_b_0_10_min_goals,team_a_corners_0_10_min,team_b_corners_0_10_min,team_a_cards_0_10_min,team_b_cards_0_10_min,throwins_recorded,team_a_throwins,team_b_throwins,freekicks_recorded,team_a_freekicks,team_b_freekicks,goalkicks_recorded,team_a_goalkicks,team_b_goalkicks,avg_potential,home_name,away_name,home_ppg,away_ppg,pre_match_home_ppg,pre_match_away_ppg,pre_match_teamA_overall_ppg,pre_match_teamB_overall_ppg,competition_id,homeGoals_timings,awayGoals_timings
0,143,59,2022/2023,1,0,2,2,3,5,8,1,2,1,2,0,0,3,3,8,8,11,11,16,11,56,44,461.0,4.0,33237.0,Selhurst Park (London),NaN,1,2,3.29,3.49,2.09,1.90,1.50,2.73,8.00,1.71,2.75,9.80,1.50,7.00,2.90,1.36,2.75,8.0,21.0,3.00,1.40,1.08,1.02,1.23,2.05,4.33,10.5,3.8,1.68,1.19,1.04,2,0,1,0,1,1,1,1659726000,25286,1,1,1,2,2,3,3,5,0,1,1,1,1,2,1,60,50,110,86,1.35,1.27,2.61,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,25,14,1,13,17,1,4,2,0.0,Crystal Palace,Arsenal,1.47,2.05,0.0,0.0,0.0,0.0,7704,[],"['20', '85']"
1,162,151,2022/2023,1,2,2,4,4,4,8,4,4,2,0,0,0,4,4,6,8,10,12,7,9,33,67,690.0,214.0,85.0,Craven Cottage (London),NaN,2,0,9.05,5.40,1.34,1.66,1.39,9.50,14.25,1.11,4.33,19.75,1.22,17.00,2.05,1.25,2.20,5.0,13.0,3.75,1.62,1.17,1.04,1.17,1.82,3.50,8.0,4.5,1.85,1.25,1.07,4,1,0,1,2,3,1,1659785400,-1,1,1,3,1,1,3,4,4,1,0,1,0,1,1,1,43,63,98,122,1.23,1.50,2.73,1,0,1,0,0,0,1,1,0,0,1,0,0,0,1,22,34,1,11,10,1,7,5,0.0,Fulham,Liverpool,1.53,1.21,0.0,0.0,0.0,0.0,7704,"['32', '72']","['64', '80']"
2,148,158,2022/2023,1,2,0,2,5,5,10,1,4,3,3,0,0,4,2,2,8,6,10,18,16,34,66,728.0,7424.0,7410.0,"Vitality Stadium (Bournemouth, Dorset)",NaN,3,3,3.10,3.53,2.30,1.95,1.28,2.63,8.30,1.74,2.60,8.90,1.62,5.50,3.40,1.40,3.00,8.0,23.0,2.75,1.36,1.08,1.01,1.24,2.10,4.50,11.0,3.6,1.63,1.17,1.04,2,1,0,1,0,1,1,1659794400,-1,1,1,2,4,3,1,6,4,2,2,1,1,4,2,1,20,43,38,73,0.80,1.08,1.89,0,0,0,0,0,0,1,1,1,0,2,2,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0,AFC Bournemouth,Aston Villa,1.16,1.21,0.0,0.0,0.0,0.0,7704,"['2', '80']",[]
3,222,223,2022/2023,1,2,1,3,6,4,10,0,1,2,0,0,0,4,7,10,9,14,16,13,9,40,60,1248.0,1.0,11817.0,"Elland Road (Leeds, West Yorkshire)",NaN,2,0,2.30,3.58,3.07,2.03,1.50,2.28,7.00,1.88,1.73,8.60,2.30,3.75,5.00,1.44,3.00,9.0,23.0,2.63,1.36,1.07,1.01,1.25,2.15,4.60,11.5,3.5,1.61,1.16,1.04,3,1,1,1,0,1,2,1659794400,-1,1,1,3,0,3,4,3,7,1,0,1,0,1,1,1,48,63,97,114,1.51,1.96,3.47,0,0,0,0,0,0,1,1,0,1,0,0,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0,Leeds United,Wolverhampton Wanderers,1.16,0.58,0.0,0.0,0.0,0.0,7704,"['24', '74']",['6']
4,157,211,2022/2023,1,2,0,2,11,1,12,2,0,0,3,0,0,10,2,14,4,24,6,9,14,61,39,715.0,207.0,29453.0,St. James' Park (Newcastle upon Tyne),"St. James' Street, Newcastle upon Tyne",0,3,1.68,3.76,4.97,1.94,1.47,1.44,8.90,3.70,1.44,8.80,3.20,2.50,8.00,1.40,3.00,8.0,23.0,2.75,1.36,1.08,1.01,1.24,2.10,4.50,11.0,3.7,1.63,1.17,1.04,2,0,0,2,0,2,0,1659794400,52245,1,1,7,0,4,1,7,5,0,2,0,1,2,1,1,100,26,141,68,2.93,0.71,3.64,0,0,0,0,0,0,1,1,0,0,3,0,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0,Newcastle United,Nottingham Forest,2.05,0.42,0.0,0.0,0.0,0.0,7704,"['58', '78']",[]

In [55]:
for col in df1:
    print(col)

homeID
awayID
season
game_week
homeGoalCount
awayGoalCount
totalGoalCount
team_a_corners
team_b_corners
totalCornerCount
team_a_offsides
team_b_offsides
team_a_yellow_cards
team_b_yellow_cards
team_a_red_cards
team_b_red_cards
team_a_shotsOnTarget
team_b_shotsOnTarget
team_a_shotsOffTarget
team_b_shotsOffTarget
team_a_shots
team_b_shots
team_a_fouls
team_b_fouls
team_a_possession
team_b_possession
refereeID
coach_a_ID
coach_b_ID
stadium_name
stadium_location
team_a_cards_num
team_b_cards_num
odds_ft_1
odds_ft_x
odds_ft_2
odds_ft_over25
odds_corners_over_85
odds_corners_1
odds_corners_x
odds_corners_2
odds_team_to_score_first_1
odds_team_to_score_first_x
odds_team_to_score_first_2
odds_win_to_nil_1
odds_win_to_nil_2
odds_1st_half_over05
odds_1st_half_over15
odds_1st_half_over25
odds_1st_half_over35
odds_1st_half_under05
odds_1st_half_under15
odds_1st_half_under25
odds_1st_half_under35
odds_2nd_half_over05
odds_2nd_half_over15
odds_2nd_half_over25
odds_2nd_half_over35
odds_2nd_half_under05
odds_2nd_half_under15
odds_2nd_half_under25
odds_2nd_half_under35
overallGoalCount
ht_goals_team_a
ht_goals_team_b
goals_2hg_team_a
goals_2hg_team_b
GoalCount_2hg
HTGoalCount
date_unix
attendance
corner_timings_recorded
card_timings_recorded
team_a_fh_corners
team_b_fh_corners
team_a_2h_corners
team_b_2h_corners
corner_fh_count
corner_2h_count
team_a_fh_cards
team_b_fh_cards
team_a_2h_cards
team_b_2h_cards
total_fh_cards
total_2h_cards
attacks_recorded
team_a_dangerous_attacks
team_b_dangerous_attacks
team_a_attacks
team_b_attacks
team_a_xg
team_b_xg
total_xg
team_a_penalties_won
team_b_penalties_won
team_a_penalty_goals
team_b_penalty_goals
team_a_penalty_missed
team_b_penalty_missed
pens_recorded
goal_timings_recorded
team_a_0_10_min_goals
team_b_0_10_min_goals
team_a_corners_0_10_min
team_b_corners_0_10_min
team_a_cards_0_10_min
team_b_cards_0_10_min
throwins_recorded
team_a_throwins
team_b_throwins
freekicks_recorded
team_a_freekicks
team_b_freekicks
goalkicks_recorded
team_a_goalkicks
team_b_goalkicks
avg_potential
home_name
away_name
home_ppg
away_ppg
pre_match_home_ppg
pre_match_away_ppg
pre_match_teamA_overall_ppg
pre_match_teamB_overall_ppg
competition_id
homeGoals_timings
awayGoals_timings

In [56]:
# cols required for offsides 
df2 = df1[['competition_id',
           'date_unix',
           'home_name',
           'away_name', 
           'season',
           'odds_ft_1',
           'odds_ft_x',
           'odds_ft_2',
           'odds_ft_over25',
           'team_a_throwins',
           'team_b_throwins']]

In [57]:
df3 = df2.loc[(df2['team_a_throwins'] > 5) & (df2['team_b_throwins'] > 5)]

In [58]:
df3.shape

(5949, 11)

In [59]:
df3.describe()

,competition_id,date_unix,odds_ft_1,odds_ft_x,odds_ft_2,odds_ft_over25,team_a_throwins,team_b_throwins
count,5949.000000,5.949000e+03,5949.000000,5949.00000,5949.000000,5949.000000,5949.000000,5949.000000
mean,6995.322575,1.662290e+09,2.696161,3.79216,3.866053,1.902491,21.438897,20.896789
std,2095.858042,4.284079e+07,1.784198,1.10157,2.958382,0.318668,6.639520,6.501806
min,161.000000,1.502477e+09,0.000000,0.00000,0.000000,0.000000,6.000000,6.000000
25%,7426.000000,1.665833e+09,1.800000,3.25000,2.350000,1.680000,17.000000,16.000000
50%,7574.000000,1.680894e+09,2.250000,3.50000,3.100000,1.870000,21.000000,20.000000
75%,7954.000000,1.684084e+09,2.900000,3.92000,4.200000,2.100000,26.000000,25.000000
max,8935.000000,1.701619e+09,28.000000,17.00000,42.750000,7.300000,48.000000,47.000000

In [60]:
df3.duplicated().sum()

119

In [61]:
df4 = df3.drop_duplicates()

In [62]:
df4.duplicated().sum()

0

In [63]:
df4 = df4.loc[(df4['odds_ft_1'] > 1.05)]
df4 = df4.loc[(df4['odds_ft_x'] > 2.3)]
df4 = df4.loc[(df4['odds_ft_2'] > 1.1)]

In [64]:
df4.describe()

,competition_id,date_unix,odds_ft_1,odds_ft_x,odds_ft_2,odds_ft_over25,team_a_throwins,team_b_throwins
count,5785.000000,5.785000e+03,5785.000000,5785.000000,5785.000000,5785.000000,5785.000000,5785.000000
mean,6988.064304,1.661924e+09,2.687755,3.803315,3.857326,1.902073,21.446327,20.922040
std,2116.650841,4.322597e+07,1.690816,1.034726,2.855455,0.307208,6.648058,6.512938
min,161.000000,1.502477e+09,1.060000,2.310000,1.110000,0.000000,6.000000,6.000000
25%,7426.000000,1.664631e+09,1.800000,3.250000,2.350000,1.680000,17.000000,16.000000
50%,7586.000000,1.680894e+09,2.250000,3.500000,3.100000,1.870000,21.000000,20.000000
75%,8595.000000,1.684170e+09,2.900000,3.950000,4.240000,2.100000,26.000000,25.000000
max,8935.000000,1.701619e+09,25.000000,14.750000,42.750000,3.110000,48.000000,47.000000

In [65]:
df4.shape

(5785, 11)

In [66]:
df4.competition_id.unique()

array([7704, 7665, 7608, 7500, 7664, 6135, 6211, 4759, 4944, 4505, 4673,
       2012, 2319, 4392, 1625, 1677,  161,  171, 7593, 7499, 7731, 8737,
       8739, 7570, 7864, 7428, 7592, 7498, 6089, 6017, 4912, 4885, 4845,
       2187, 2191, 2642, 2415, 1624, 1564,  165, 7482, 7501, 7574, 8595,
       7426, 7544, 7494, 7768, 7504, 6015, 5992, 4746, 4844, 4567, 3817,
       4478, 2192, 2249, 1574, 1712, 8810, 7890, 8935, 7586, 7663, 7954,
       7967, 8899, 7425, 6037, 6969, 4643, 4764, 5674, 5506, 4507, 2240,
       4473, 1864, 1862, 7573, 5934], dtype=int64)

In [67]:
competition_counts = df4['competition_id'].value_counts()

for competition_id, count in competition_counts.items():
    print(f"Competition ID: {competition_id}, Count: {count}")

Competition ID: 8595, Count: 309
Competition ID: 8810, Count: 296
Competition ID: 8739, Count: 236
Competition ID: 7573, Count: 235
Competition ID: 8737, Count: 229
Competition ID: 7704, Count: 222
Competition ID: 4759, Count: 222
Competition ID: 8899, Count: 221
Competition ID: 2012, Count: 192
Competition ID: 6135, Count: 178
Competition ID: 1625, Count: 167
Competition ID: 8935, Count: 156
Competition ID: 7574, Count: 153
Competition ID: 7570, Count: 153
Competition ID: 161, Count: 145
Competition ID: 7608, Count: 132
Competition ID: 7592, Count: 131
Competition ID: 7665, Count: 127
Competition ID: 7500, Count: 122
Competition ID: 7428, Count: 119
Competition ID: 7501, Count: 118
Competition ID: 7664, Count: 112
Competition ID: 4885, Count: 110
Competition ID: 7482, Count: 107
Competition ID: 7864, Count: 103
Competition ID: 7593, Count: 101
Competition ID: 7586, Count: 101
Competition ID: 7731, Count: 93
Competition ID: 7499, Count: 93
Competition ID: 7544, Count: 90
Competition ID: 7425, Count: 89
Competition ID: 7663, Count: 86
Competition ID: 7768, Count: 86
Competition ID: 7426, Count: 85
Competition ID: 5934, Count: 82
Competition ID: 7504, Count: 75
Competition ID: 7954, Count: 74
Competition ID: 7494, Count: 71
Competition ID: 7890, Count: 67
Competition ID: 7498, Count: 42
Competition ID: 4392, Count: 38
Competition ID: 4912, Count: 28
Competition ID: 4844, Count: 18
Competition ID: 7967, Count: 17
Competition ID: 4845, Count: 16
Competition ID: 4505, Count: 14
Competition ID: 4567, Count: 12
Competition ID: 4643, Count: 10
Competition ID: 6037, Count: 8
Competition ID: 4673, Count: 7
Competition ID: 3817, Count: 7
Competition ID: 4478, Count: 6
Competition ID: 6089, Count: 6
Competition ID: 4944, Count: 6
Competition ID: 4746, Count: 6
Competition ID: 2187, Count: 5
Competition ID: 6015, Count: 5
Competition ID: 165, Count: 5
Competition ID: 1624, Count: 5
Competition ID: 6017, Count: 4
Competition ID: 4473, Count: 4
Competition ID: 2642, Count: 3
Competition ID: 5992, Count: 3
Competition ID: 171, Count: 2
Competition ID: 2319, Count: 2
Competition ID: 2240, Count: 2
Competition ID: 1712, Count: 1
Competition ID: 5674, Count: 1
Competition ID: 1862, Count: 1
Competition ID: 1864, Count: 1
Competition ID: 1564, Count: 1
Competition ID: 4507, Count: 1
Competition ID: 5506, Count: 1
Competition ID: 4764, Count: 1
Competition ID: 2415, Count: 1
Competition ID: 2191, Count: 1
Competition ID: 6969, Count: 1
Competition ID: 1677, Count: 1
Competition ID: 6211, Count: 1
Competition ID: 2192, Count: 1
Competition ID: 2249, Count: 1
Competition ID: 1574, Count: 1

In [68]:
# remove competitions with less than 100 matches

# Get competition_ids where the count is less than 100
filtered_competition_ids = competition_counts[competition_counts < 100].index

# Remove rows with competition_ids that have count less than 100
df4 = df4[~df4['competition_id'].isin(filtered_competition_ids)]

In [69]:
df4.shape

(4497, 11)

In [70]:
df4['HW_%'] = round((1/df4['odds_ft_1']) / (1/df4['odds_ft_1'] + 1/df4['odds_ft_x'] + 1/df4['odds_ft_2']),2)  # Add a column giving the Home Win % (HW_%)
df4['X_%'] = round((1/df4['odds_ft_x']) / (1/df4['odds_ft_1'] + 1/df4['odds_ft_x'] + 1/df4['odds_ft_2']),2) # Draw %
df4['AW_%'] = round((1/df4['odds_ft_2']) / (1/df4['odds_ft_1'] + 1/df4['odds_ft_x'] + 1/df4['odds_ft_2']),2) # Away %

In [71]:
df4['odds_ft_under25'] = 1/(1.07 - 1/df4['odds_ft_over25'])

In [72]:
df4['O_2.5_%'] = round(1/df4['odds_ft_over25'] / (1/df4['odds_ft_over25'] + 1/df4['odds_ft_under25']),2)
df4['U_2.5_%'] = round(1/df4['odds_ft_under25'] / (1/df4['odds_ft_over25'] + 1/df4['odds_ft_under25']),2)

In [73]:
df4.drop(['odds_ft_1', 'odds_ft_x', 'odds_ft_2', 'odds_ft_over25', 'odds_ft_under25'], axis = 1, inplace=True)

In [74]:
df4.head()

,competition_id,date_unix,home_name,away_name,season,team_a_throwins,team_b_throwins,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%
0,7704,1659726000,Crystal Palace,Arsenal,2022/2023,25,14,0.28,0.27,0.45,0.49,0.51
1,7704,1659785400,Fulham,Liverpool,2022/2023,22,34,0.11,0.18,0.72,0.56,0.44
6,7704,1659803400,Everton,Chelsea,2022/2023,21,17,0.18,0.24,0.59,0.50,0.50
8,7704,1659877200,Manchester United,Brighton & Hove Albion,2022/2023,22,22,0.59,0.23,0.18,0.49,0.51
9,7704,1659886200,West Ham United,Manchester City,2022/2023,11,12,0.11,0.18,0.70,0.56,0.44

In [75]:
# add date column
from datetime import datetime

# Convert Unix timestamps to datetime objects
df4['date_unix'] = pd.to_datetime(df4['date_unix'], unit='s')

# Convert datetime objects to the desired date format (dd/mm/yyyy)
df4['date'] = df4['date_unix'].dt.strftime('%d/%m/%Y')
df4.drop(['date_unix'], axis=1, inplace=True)
df4.head()

,competition_id,home_name,away_name,season,team_a_throwins,team_b_throwins,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date
0,7704,Crystal Palace,Arsenal,2022/2023,25,14,0.28,0.27,0.45,0.49,0.51,05/08/2022
1,7704,Fulham,Liverpool,2022/2023,22,34,0.11,0.18,0.72,0.56,0.44,06/08/2022
6,7704,Everton,Chelsea,2022/2023,21,17,0.18,0.24,0.59,0.50,0.50,06/08/2022
8,7704,Manchester United,Brighton & Hove Albion,2022/2023,22,22,0.59,0.23,0.18,0.49,0.51,07/08/2022
9,7704,West Ham United,Manchester City,2022/2023,11,12,0.11,0.18,0.70,0.56,0.44,07/08/2022

In [76]:
# Overlay Sup and goal exp

In [77]:
dfOU = pd.read_csv('C:/Users/MikeD/Documents/Betting/OverUnder_Exp.csv', index_col=False)
dfOU

     Exp1  Under  Over  Un2.5_%  Ov2.5_%   Exp
0    1.64   1.29  4.45     0.78     0.22  1.64
1    1.66   1.30  4.33     0.77     0.23  1.66
2    1.68   1.31  4.23     0.76     0.24  1.68
3    1.70   1.32  4.13     0.76     0.24  1.70
4    1.73   1.33  4.03     0.75     0.25  1.73
..    ...    ...   ...      ...      ...   ...
222  4.94   7.67  1.15     0.13     0.87  4.94
223  5.03   8.14  1.14     0.12     0.88  5.03
224  5.12   8.69  1.13     0.12     0.88  5.12
225  5.23   9.33  1.12     0.11     0.89  5.23
226  5.34  10.09  1.11     0.10     0.90  5.34

[227 rows x 6 columns]

In [78]:
dfOU = dfOU.drop(['Exp1','Under','Over', 'Un2.5_%'], axis = 1)
dfOU.drop_duplicates(subset='Ov2.5_%', inplace = True)
dfOU

     Ov2.5_%   Exp
0       0.22  1.64
1       0.23  1.66
2       0.24  1.68
4       0.25  1.73
6       0.26  1.77
..       ...   ...
221     0.86  4.85
222     0.87  4.94
223     0.88  5.03
225     0.89  5.23
226     0.90  5.34

[69 rows x 2 columns]

In [79]:
dfOU.rename(columns = {'Ov2.5_%':'O_2.5_%'}, inplace=True)
#df5 = pd.merge(left=df4, right = dfOU, how='left')

In [80]:
df5 = pd.merge(left=df4, right = dfOU, how='left')

In [81]:
df5.head()

,competition_id,home_name,away_name,season,team_a_throwins,team_b_throwins,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp
0,7704,Crystal Palace,Arsenal,2022/2023,25,14,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62
1,7704,Fulham,Liverpool,2022/2023,22,34,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94
2,7704,Everton,Chelsea,2022/2023,21,17,0.18,0.24,0.59,0.50,0.50,06/08/2022,2.66
3,7704,Manchester United,Brighton & Hove Albion,2022/2023,22,22,0.59,0.23,0.18,0.49,0.51,07/08/2022,2.62
4,7704,West Ham United,Manchester City,2022/2023,11,12,0.11,0.18,0.70,0.56,0.44,07/08/2022,2.94

In [82]:
# add home/away exp goals
df5['HG_Exp'] = round((df5['Exp']) * (df5['HW_%'] + 0.5 * df5['X_%']),2)
df5['AG_Exp'] = round((df5['Exp']) * (df5['AW_%'] + 0.5 * df5['X_%']),2)
df5['Sup Exp'] = df5['HG_Exp'] - df5['AG_Exp']
df5.head()

,competition_id,home_name,away_name,season,team_a_throwins,team_b_throwins,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp
0,7704,Crystal Palace,Arsenal,2022/2023,25,14,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62,1.09,1.53,-0.44
1,7704,Fulham,Liverpool,2022/2023,22,34,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94,0.59,2.38,-1.79
2,7704,Everton,Chelsea,2022/2023,21,17,0.18,0.24,0.59,0.50,0.50,06/08/2022,2.66,0.80,1.89,-1.09
3,7704,Manchester United,Brighton & Hove Albion,2022/2023,22,22,0.59,0.23,0.18,0.49,0.51,07/08/2022,2.62,1.85,0.77,1.08
4,7704,West Ham United,Manchester City,2022/2023,11,12,0.11,0.18,0.70,0.56,0.44,07/08/2022,2.94,0.59,2.32,-1.73

In [83]:
df6 = df5.copy()

In [84]:
# Calculate the league running average of 'team_a/b_offsides' column on a competition_id 
df6['h_lg_r_av'] = round(df6.groupby('competition_id')['team_a_throwins'].transform(lambda x: x.shift(1).expanding().mean()),2)
df6['a_lg_r_av'] = round(df6.groupby('competition_id')['team_b_throwins'].transform(lambda x: x.shift(1).expanding().mean()),2)

In [85]:
# Calculate team running averages
def running_average(series):
    return series.expanding().mean().shift()

# Create running averages for when home team is in home_name column
df6['ht_h_r_av_f'] = round(df6.groupby(['competition_id', 'home_name'])['team_a_throwins'].apply(running_average), 2)
df6['ht_h_r_av_ag'] = round(df6.groupby(['competition_id', 'home_name'])['team_b_throwins'].apply(running_average), 2)

# Create running averages for when away team is in away_name column
df6['at_a_r_av_f'] = round(df6.groupby(['competition_id', 'away_name'])['team_b_throwins'].apply(running_average), 2)
df6['at_a_r_av_ag'] = round(df6.groupby(['competition_id', 'away_name'])['team_a_throwins'].apply(running_average), 2)

In [86]:
df6.reset_index(drop=True,inplace=True)
df6.head()

,competition_id,home_name,away_name,season,team_a_throwins,team_b_throwins,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp,h_lg_r_av,a_lg_r_av,ht_h_r_av_f,ht_h_r_av_ag,at_a_r_av_f,at_a_r_av_ag
0,7704,Crystal Palace,Arsenal,2022/2023,25,14,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62,1.09,1.53,-0.44,NaN,NaN,NaN,NaN,NaN,NaN
1,7704,Fulham,Liverpool,2022/2023,22,34,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94,0.59,2.38,-1.79,25.00,14.00,NaN,NaN,NaN,NaN
2,7704,Everton,Chelsea,2022/2023,21,17,0.18,0.24,0.59,0.50,0.50,06/08/2022,2.66,0.80,1.89,-1.09,23.50,24.00,NaN,NaN,NaN,NaN
3,7704,Manchester United,Brighton & Hove Albion,2022/2023,22,22,0.59,0.23,0.18,0.49,0.51,07/08/2022,2.62,1.85,0.77,1.08,22.67,21.67,NaN,NaN,NaN,NaN
4,7704,West Ham United,Manchester City,2022/2023,11,12,0.11,0.18,0.70,0.56,0.44,07/08/2022,2.94,0.59,2.32,-1.73,22.50,21.75,NaN,NaN,NaN,NaN

In [87]:
df6.head(35)

,competition_id,home_name,away_name,season,team_a_throwins,team_b_throwins,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp,h_lg_r_av,a_lg_r_av,ht_h_r_av_f,ht_h_r_av_ag,at_a_r_av_f,at_a_r_av_ag
0,7704,Crystal Palace,Arsenal,2022/2023,25,14,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62,1.09,1.53,-0.44,NaN,NaN,NaN,NaN,NaN,NaN
1,7704,Fulham,Liverpool,2022/2023,22,34,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94,0.59,2.38,-1.79,25.00,14.00,NaN,NaN,NaN,NaN
2,7704,Everton,Chelsea,2022/2023,21,17,0.18,0.24,0.59,0.50,0.50,06/08/2022,2.66,0.80,1.89,-1.09,23.50,24.00,NaN,NaN,NaN,NaN
3,7704,Manchester United,Brighton & Hove Albion,2022/2023,22,22,0.59,0.23,0.18,0.49,0.51,07/08/2022,2.62,1.85,0.77,1.08,22.67,21.67,NaN,NaN,NaN,NaN
4,7704,West Ham United,Manchester City,2022/2023,11,12,0.11,0.18,0.70,0.56,0.44,07/08/2022,2.94,0.59,2.32,-1.73,22.50,21.75,NaN,NaN,NaN,NaN
5,7704,Aston Villa,Everton,2022/2023,20,18,0.47,0.27,0.26,0.48,0.52,13/08/2022,2.60,1.57,1.03,0.54,20.20,19.80,NaN,NaN,NaN,NaN
6,7704,Brentford,Manchester United,2022/2023,16,23,0.25,0.27,0.47,0.52,0.48,13/08/2022,2.76,1.06,1.67,-0.61,20.17,19.50,NaN,NaN,NaN,NaN
7,7704,Nottingham Forest,West Ham United,2022/2023,17,27,0.22,0.28,0.50,0.49,0.51,14/08/2022,2.62,0.94,1.68,-0.74,19.57,20.00,NaN,NaN,NaN,NaN
8,7704,Chelsea,Tottenham Hotspur,2022/2023,26,18,0.42,0.28,0.30,0.53,0.47,14/08/2022,2.79,1.56,1.23,0.33,19.25,20.88,NaN,NaN,NaN,NaN
9,7704,Liverpool,Crystal Palace,2022/2023,27,17,0.79,0.15,0.06,0.58,0.42,15/08/2022,3.03,2.62,0.41,2.21,20.00,20.56,NaN,NaN,NaN,NaN
10,7704,Tottenham Hotspur,Wolverhampton Wanderers,2022/2023,14,15,0.68,0.19,0.12,0.55,0.45,20/08/2022,2.89,2.24,0.62,1.62,20.70,20.20,NaN,NaN,NaN,NaN
11,7704,AFC Bournemouth,Arsenal,2022/2023,27,13,0.16,0.24,0.59,0.52,0.48,20/08/2022,2.76,0.77,1.96,-1.19,20.09,19.73,NaN,NaN,14.00,25.00
12,7704,Leeds United,Chelsea,2022/2023,19,29,0.17,0.23,0.60,0.51,0.49,21/08/2022,2.71,0.77,1.94,-1.17,20.67,19.17,NaN,NaN,17.00,21.00
13,7704,Newcastle United,Manchester City,2022/2023,8,18,0.13,0.19,0.68,0.59,0.41,21/08/2022,3.06,0.69,2.37,-1.68,20.54,19.92,NaN,NaN,12.00,11.00
14,7704,Manchester United,Liverpool,2022/2023,15,28,0.19,0.22,0.59,0.62,0.38,22/08/2022,3.16,0.95,2.21,-1.26,19.64,19.79,22.0,22.0,34.00,22.00
15,7704,Southampton,Manchester United,2022/2023,29,20,0.28,0.26,0.46,0.56,0.44,27/08/2022,2.94,1.21,1.73,-0.52,19.33,20.33,NaN,NaN,23.00,16.00
16,7704,Arsenal,Fulham,2022/2023,17,18,0.71,0.18,0.11,0.60,0.40,27/08/2022,3.10,2.48,0.62,1.86,19.94,20.31,NaN,NaN,NaN,NaN
17,7704,Wolverhampton Wanderers,Newcastle United,2022/2023,15,12,0.35,0.30,0.36,0.46,0.54,28/08/2022,2.53,1.26,1.29,-0.03,19.76,20.18,NaN,NaN,NaN,NaN
18,7704,Nottingham Forest,Tottenham Hotspur,2022/2023,16,19,0.19,0.25,0.56,0.54,0.46,28/08/2022,2.84,0.89,1.95,-1.06,19.50,19.72,17.0,27.0,18.00,26.00
19,7704,Leeds United,Everton,2022/2023,38,22,0.49,0.26,0.25,0.47,0.53,30/08/2022,2.56,1.59,0.97,0.62,19.32,19.68,19.0,29.0,18.00,20.00
20,7704,Liverpool,Newcastle United,2022/2023,25,11,0.75,0.15,0.10,0.60,0.40,31/08/2022,3.10,2.56,0.54,2.02,20.25,19.80,27.0,17.0,12.00,15.00
21,7704,Leicester City,Manchester United,2022/2023,18,24,0.28,0.25,0.47,0.57,0.43,01/09/2022,2.99,1.21,1.78,-0.57,20.48,19.38,NaN,NaN,21.50,22.50
22,7704,Everton,Liverpool,2022/2023,23,34,0.12,0.18,0.70,0.60,0.40,03/09/2022,3.10,0.65,2.45,-1.80,20.36,19.59,21.0,17.0,31.00,18.50
23,7704,Aston Villa,Manchester City,2022/2023,18,19,0.13,0.18,0.69,0.62,0.38,03/09/2022,3.16,0.70,2.46,-1.76,20.48,20.22,20.0,18.0,15.00,9.50
24,7704,Brighton & Hove Albion,Leicester City,2022/2023,15,19,0.51,0.28,0.21,0.50,0.50,04/09/2022,2.66,1.73,0.93,0.80,20.38,20.17,NaN,NaN,NaN,NaN
25,7704,Manchester United,Arsenal,2022/2023,18,19,0.47,0.26,0.27,0.56,0.44,04/09/2022,2.94,1.76,1.18,0.58,20.16,20.12,18.5,25.0,13.50,26.00
26,7704,Fulham,Chelsea,2022/2023,33,13,0.24,0.25,0.51,0.52,0.48,12/01/2023,2.76,1.01,1.75,-0.74,20.08,20.08,22.0,34.0,23.00,20.00
27,7704,Southampton,Brentford,2022/2023,22,17,0.35,0.28,0.37,0.47,0.53,15/03/2023,2.56,1.25,1.31,-0.06,20.56,19.81,29.0,20.0,NaN,NaN
28,7704,Manchester City,Tottenham Hotspur,2022/2023,22,15,0.72,0.17,0.12,0.63,0.37,19/01/2023,3.20,2.58,0.66,1.92,20.61,19.71,NaN,NaN,18.50,21.00
29,7704,West Ham United,Newcastle United,2022/2023,14,15,0.29,0.29,0.42,0.46,0.54,05/04/2023,2.53,1.10,1.43,-0.33,20.66,19.55,11.0,12.0,11.50,20.00
30,7704,Crystal Palace,Manchester United,2022/2023,21,18,0.23,0.27,0.50,0.51,0.49,18/01/2023,2.71,0.99,1.72,-0.73,20.43,19.40,25.0,14.0,22.33,21.00
31,7704,Leeds United,Nottingham Forest,2022/2023,21,25,0.50,0.26,0.24,0.55,0.45,04/04/2023,2.89,1.82,1.07,0.75,20.45,19.35,28.5,25.5,NaN,NaN
32,7704,Aston Villa,Southampton,2022/2023,28,25,0.47,0.25,0.28,0.49,0.51,16/09/2022,2.62,1.56,1.06,0.50,20.47,19.53,19.0,18.5,NaN,NaN
33,7704,Wolverhampton Wanderers,Manchester City,2022/2023,17,16,0.11,0.17,0.72,0.60,0.40,17/09/2022,3.10,0.60,2.50,-1.90,20.70,19.70,15.0,12.0,16.33,12.33
34,7704,Brighton & Hove Albion,Crystal Palace,2022/2023,18,15,0.60,0.24,0.17,0.49,0.51,15/03/2023,2.62,1.89,0.76,1.13,20.59,19.59,15.0,19.0,17.00,27.00

In [89]:
df6.to_csv(r'C:\Users\MikeD\Documents\Betting\Python Analysis\FS_Leagues_Throws_DF_part_Prepared.csv')
print('DF written to csv successfully')

DF written to csv successfully

In [90]:
df6.shape

(4497, 22)

In [91]:
df6.isnull().sum()

competition_id       0
home_name            0
away_name            0
season               0
team_a_throwins      0
team_b_throwins      0
HW_%                 0
X_%                  0
AW_%                 0
O_2.5_%              0
U_2.5_%              0
date                 0
Exp                  0
HG_Exp               0
AG_Exp               0
Sup Exp              0
h_lg_r_av           27
a_lg_r_av           27
ht_h_r_av_f        520
ht_h_r_av_ag       520
at_a_r_av_f        519
at_a_r_av_ag       519
dtype: int64

In [92]:
df6.dropna(inplace=True)

In [93]:
df6.shape

(3837, 22)

In [94]:
# remove top 30 rows of each comp id - running averages will be skewed by lack of data
def remove_top_30_rows(group):
    return group.iloc[30:]

# Apply the function to each group within each competition_id
df_filtered = df6.groupby('competition_id').apply(remove_top_30_rows)

# Reset the index of the resulting DataFrame
df6 = df_filtered.reset_index(drop=True)

In [95]:
df6.shape

(3027, 22)

In [96]:
df6.reset_index(drop=True,inplace=True)
df6.head()

,competition_id,home_name,away_name,season,team_a_throwins,team_b_throwins,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp,h_lg_r_av,a_lg_r_av,ht_h_r_av_f,ht_h_r_av_ag,at_a_r_av_f,at_a_r_av_ag
0,161,AFC Bournemouth,Southampton,2017/2018,31,11,0.39,0.30,0.31,0.44,0.56,03/12/2017,2.44,1.32,1.12,0.20,22.92,22.27,20.50,26.00,17.00,17.00
1,161,Arsenal,Manchester United,2017/2018,24,12,0.38,0.29,0.33,0.51,0.49,02/12/2017,2.71,1.42,1.29,0.13,23.08,22.06,19.25,25.25,22.75,26.75
2,161,Manchester City,West Ham United,2017/2018,21,19,0.82,0.09,0.09,0.77,0.23,03/12/2017,4.05,3.50,0.55,2.95,23.09,21.87,22.33,25.33,22.00,18.33
3,161,Liverpool,Everton,2017/2018,31,9,0.75,0.15,0.10,0.61,0.39,10/12/2017,3.14,2.59,0.55,2.04,23.05,21.82,25.00,20.50,25.50,24.00
4,161,Manchester United,Manchester City,2017/2018,19,20,0.25,0.27,0.48,0.51,0.49,10/12/2017,2.71,1.04,1.67,-0.63,23.20,21.59,22.80,17.20,21.25,19.75

#### Copy DF to file 'Leagues_Data_Combined'

In [97]:
df6.to_csv(r'C:\Users\MikeD\Documents\Betting\Python Analysis\FS_Leagues_Throws_DF_Prepared.csv')
print('DF written to csv successfully')

DF written to csv successfully